body{
	margin-top: 12vw;
}

div>span{
	
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10vw;
	font-weight: bolder;
}

#squery {
	width: 80%;
	font-size: 1.5vw;
	height: 3vw;
	color: grey;
	font-family: sans-serif;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.30), 0 0 0 1px rgba(0,0,0,0.08);
	outline: none;
	border:1px solid #cccccc;
	border-radius: 4px;
}

#submit{
	position: absolute;
	border-color: white;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	background-color: white;
	border-radius: 4px;
	outline: none; 
	vertical-align: middle;
}

#result-card{
	background-color: white;#F6F6F6;
	overflow-y: hidden;
	padding: 2em 2em;
	border-radius: 25px;
	margin: 20px 20px;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.45), 0 0 0 1px rgba(0,0,0,0.08);
}

#result-card:hover{
	cursor: pointer;
	box-shadow: 0 20px 40px 0 rgba(0,0,0,1), 0 0 0 1px rgba(0,0,0,0.08);
}

#item-desc{
	font-family: 'Roboto',sans-serif;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
}

#item-desc>#title{
	font-size: 1.5em;
	text-align: left;
	font-weight: bold;
}

#nav-buttons{
	cursor: pointer;
}

